{% extends 'base.html' %}
{% load static %}

{% block content %}  
    <div class="container mt-5 pt-5">
        <div class="row mt-5 pt-3">
            <div class="col-12 fs-2">
                <label class="text-white">{{error}}</label>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-around py-3 my-3">
        <a class="btn btn-light fw-bold border-warning bg-warning px-4" href="{% url 'core:index' %}" role="button">Voltar</a>        
    </div> 
{% endblock %}