{% extends 'base.html' %}
{% load static %}

{% block content %}
 
    {% if messages %}       
        {% for message in messages %}
            <div class="alert alert-white text-warning fs-4 my-0 py-0" role="alert">
                {{error}}
                <p class="fs-6">Selecione a região do seu bairro para que possamos prosseguir com o seu pedido</p>
            </div>
        {% endfor %}
    {% endif %}
       
    <div class="container">
        <form action="{#}" method="post">
            <div class="row">
                <div class="col-12">
                    <input class="form-control pb-2 my-2" type="text" value="{{logradouro}}" id="logradouro" name="logradouro">
                    <input class="form-control pb-2 my-2" type="text" value="{{numero}}" id="num_porta" name="nr_porta">
                    <input class="form-control pb-2 my-2" type="text" value="{{bairro}}" id="bairro" name="bairro">
                    <input name="regioes_urbana" class="form-control border border-3 border-danger" autofocus  list="datalistRegioes" id="exampleDataList" required placeholder="Clique para Selecionar a Região">
                    <datalist id="datalistRegioes">
                        <option value="Anhanduizinho">
                        <option value="Bandeira">
                        <option value="Centro">
                        <option value="Imbirussu">
                        <option value="Lagoa">         
                        <option value="Prosa">
                        <option value="Segredo">                    
                    </datalist>
                </div>
            </div>
            <p class="text-white text-start pt-2">Se tiver dúvidas, utilize o mapa abaixo para consulta.</p>
            <div class="row">
                <div class="col-12">
                    <img src="{% static 'img/regioes_urbana.png' %}" class="img-fluid border border-2 rounded" alt="regiões">
                </div>
            </div>
            <div class="d-flex justify-content-around py-3 my-3">
                <button class="btn btn-light fw-bold border-white bg-white" type="submit">Confirmar</button>
                <a class="btn btn-warning px-4" href="{% url 'core:index' %}" role="button">Voltar</a>        
            </div>  
        </form>
    </div>
    
{% endblock %}