{% extends 'base.html' %}

{% block content %}
  <body>
    <h1>Resultado da Consulta</h1>
    <p>Tamanho: {{ tamanho }} m³</p>
    <p>Tipo de Resíduo: {{ tipo_residuo }}</p>
    <p>Quantidade: {{ quantidade }} unidades</p>
    <p>Data de Início: {{ data_inicio }}</p>
    <p>Data de Retirada: {{ data_retirada }}</p>
    <p>CEP: {{ cep }}</p>
    <p>Logradouro: {{ logradouro }}</p>
    <p>Número: {{ numero }}</p>
    <p>Bairro: {{ bairro }}</p>
    <p>Cidade: {{ cidade }}</p>
    <a class="btn btn-warning" href="{% url 'core:index' %}" role="button">Voltar</a>
  </body>
{% endblock %}



